.App {
  text-align: center;
}

a {
  text-decoration: none;
}

html {
  /* background-color: #bbecff; */
  background-image: url("../public/grasshero.jpeg");
  /* height: 500px; You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.jordan-pic {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
